<a href="https://colab.research.google.com/github/victorsouza89/NN_recom_tests/blob/main/NN_recom2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import os
import warnings

from keras.models import load_model
from sklearn.model_selection import train_test_split
from keras.layers import Input, Embedding, Flatten, Dot, Dense, Concatenate
from keras.models import Model
warnings.filterwarnings('ignore')
%matplotlib inline

## Data

In [2]:
url="http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/AMAZON_FASHION.csv"
dataset=pd.read_csv(url, header=None)
dataset.columns = ['item','user','rating','timestamp']
dataset['user_id'] = dataset[['user']].sum(axis=1).map(hash)
dataset['item_id'] = dataset[['item']].sum(axis=1).map(hash)
dataset

,item,user,rating,timestamp,user_id,item_id
0,7106116521,A1D4G1SNUZWQOT,5.0,1413763200,6806627385166154895,4882529181781392878
1,7106116521,A3DDWDH9PX2YX2,2.0,1411862400,-8032848220021371983,4882529181781392878
2,7106116521,A2MWC41EW7XL15,4.0,1408924800,9166305931544140400,4882529181781392878
3,7106116521,A2UH2QQ275NV45,2.0,1408838400,-6175287875635572623,4882529181781392878
4,7106116521,A89F3LQADZBS5,3.0,1406419200,-7418516523047459996,4882529181781392878
...,...,...,...,...,...,...
883631,B01HJHTH5U,A1ZSB2Q144UTEY,5.0,1487635200,-6204821665991023698,7686417503465644182
883632,B01HJHTH5U,A2CCDV0J5VB6F2,5.0,1480032000,2464343072853304319,7686417503465644182
883633,B01HJHTH5U,A3O90PACS7B61K,3.0,1478736000,-6739330837605955312,7686417503465644182
883634,B01HJHF97K,A2HO94I89U3LNH,3.0,1478736000,2798048825391088863,-7712875729641478866
883635,B01HJG5NMW,A2RSX9E79DUHRX,5.0,1470700800,-34441710939480672,86585132148739004

## Define NN

In [3]:
train, test = train_test_split(dataset, test_size=0.2)

In [4]:
# creating item embedding path
item_input = Input(shape=[1], name="Items-Input")
item_embedding = Embedding(len(train.item)+1, 10, name="Items-Embedding")(item_input)
item_vec = Flatten(name="Flatten-Items")(item_embedding)
# concatenate features
conc = Concatenate()([item_vec])
# add fully-connected-layers
fc1 = Dense(128, activation='relu')(conc)
fc2 = Dense(32, activation='relu')(fc1)
fc3 = Dense(32, activation='relu')(fc2)
out = Dense(1)(fc3)
# Create model and compile it
model = Model([item_input], out)
model.compile('adam', 'mean_squared_error')

## Train NN

In [ ]:
history = model.fit([train.item_id], train.rating, epochs=5, verbose=1)

Epoch 1/5
22091/22091 [==============================] - 213s 10ms/step - loss: 3.0667
Epoch 2/5
22091/22091 [==============================] - 206s 9ms/step - loss: 2.0113
Epoch 3/5
22091/22091 [==============================] - 203s 9ms/step - loss: 2.0114
Epoch 4/5
22091/22091 [==============================] - 209s 9ms/step - loss: 2.0113
Epoch 5/5
 9900/22091 [============>.................] - ETA: 1:55 - loss: 2.0087

## Predictions NN

In [ ]:
k = 15
predictions = model.predict([test.item_id.head(k)])
[print(predictions[i], test.rating.iloc[i]) for i in range(k)]